
body { 
   background-color: #232323;
}

/* Nav bar */

.menu .navbar-brand {
    display: -webkit-flex;
}

.menu .navbar-brand span {
    display: flex;
    display: -webkit-flex;
}

.menu .navbar-brand .navbar-caption-wrap {
    display: -webkit-flex;
}

.menu .navbar-brand .navbar-logo img {
    display: -webkit-flex;
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu .navbar-toggleable-sm .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox; } }
@media (min-width: 992px) {
  .menu .navbar-nav.nav-dropdown {
    display: -webkit-flex; }
  .menu .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-flex !important; } }
@media (max-width: 767px) {
  .menu .navbar-collapse {
    overflow-y: auto;
    max-height: 80vh; }
  .menu .dropdown-menu {
    max-height: 60vh;
    overflow-y: auto; } 
}

.navbar {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-justify-content: space-between; 
}

.navbar-collapse {
  -webkit-flex-basis: 100%;
  -webkit-flex-grow: 1;
  -webkit-align-items: center; 
  }

.nav-dropdown .link {
  padding: .667em 1.667em !important;
  margin: 0 !important; 
  }

.nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap; 
  }